<table border="1">
    {% include 'chess_engine/board_line.html' with game=game game_data=game_data line=grid.8 line_key=8 even='#ccc' odd='#999' %}
    {% include 'chess_engine/board_line.html' with game=game game_data=game_data line=grid.7 line_key=7 even='#999' odd='#ccc' %}
    {% include 'chess_engine/board_line.html' with game=game game_data=game_data line=grid.6 line_key=6 even='#ccc' odd='#999' %}
    {% include 'chess_engine/board_line.html' with game=game game_data=game_data line=grid.5 line_key=5 even='#999' odd='#ccc' %}
    {% include 'chess_engine/board_line.html' with game=game game_data=game_data line=grid.4 line_key=4 even='#ccc' odd='#999' %}
    {% include 'chess_engine/board_line.html' with game=game game_data=game_data line=grid.3 line_key=3 even='#999' odd='#ccc' %}
    {% include 'chess_engine/board_line.html' with game=game game_data=game_data line=grid.2 line_key=2 even='#ccc' odd='#999' %}
    {% include 'chess_engine/board_line.html' with game=game game_data=game_data line=grid.1 line_key=1 even='#999' odd='#ccc' %}
</table>
