{% extends 'chess_engine/base.html' %}
{% load chess_engine_extras %}

{% block head %}
    <script>
        function pieceClicked(element) {
            console.log('pieceClicked : ' + element.id);

            return false;
        }
    </script>
{% endblock %}

{% block title %}
    <label><strong>{{ context.game_logic.game_data.data|access:'game_options/name' }}</strong></label>
    :
    {% with white_user_id=context.game_logic.game_data.data|access:'participants/white/1' %}
    {% with black_user_id=context.game_logic.game_data.data|access:'participants/black/1' %}
    {% with user_can_join=user|can_join_game:context.game_logic.game_data %}

    {% if white_user_id %}
        {% with white_user=white_user_id|get_user %}
        <a class="btn btn-default disabled"><span class="glyphicon glyphicon-pawn btn-side-white"></span>
            <strong>{{ white_user.username }}</strong>
        </a>
        {% endwith %}
    {% else %}
        {% if user_can_join %}
            <a href="{% url 'join-game' pk=context.game_logic.game_data.id side='w' %}" class="btn btn-primary">
                <span class="glyphicon glyphicon-pawn btn-side-white"></span>
                Join
            </a>
        {% else %}
            <a class="btn btn-default disabled"><span class="glyphicon glyphicon-pawn btn-side-white"></span>
                <span title="You can't play both sides in a ranked game."><i>No opponent</i></span>
            </a>
        {% endif %}
    {% endif %}
    versus
    {% if black_user_id %}
        {% with black_user=black_user_id|get_user %}
            <a class="btn btn-default disabled"><span class="glyphicon glyphicon-pawn btn-side-black"></span>
                <strong>{{ black_user.username }}</strong>
            </a>
        {% endwith %}
    {% else %}
        {% if user_can_join %}
            <a href="{% url 'join-game' pk=context.game_logic.game_data.id side='b' %}" class="btn btn-primary">
                <span class="glyphicon glyphicon-pawn btn-side-black"></span>
                Join
            </a>
        {% else %}
            <a class="btn btn-default disabled"><span class="glyphicon glyphicon-pawn btn-side-black"></span>
                <span title="You can't play both sides in a ranked game."><i>No opponent</i></span>
            </a>
        {% endif %}
    {% endif %}

    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% if context.game_logic.game_data.data|access:'game_options/ranked' %}
     &nbsp;<label>Ranked <span class="glyphicon glyphicon-star"></span></label>
    {% endif %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xs-12">
        {# BOARD or RESULT #}
        {% with token_step_side=context.game_logic.game_data.data|access:'token/step/side' %}
        {% with rounds=context.game_logic.game_data.data|access:'rounds' %}
            {% if token_step_side == False %}
                {% if rounds|length > 0 %}
                <div>
                    Game ended.<br />
                    White wins : {{ context.game_results.white_wins }}<br />
                    Black wins : {{ context.game_results.black_wins }}<br />
                </div>
                {% else %}
                    {% with white_user_id=context.game_logic.game_data.data|access:'participants/white/1' %}
                    {% with black_user_id=context.game_logic.game_data.data|access:'participants/black/1' %}
                        <br />
                        Waiting players.<br /><br />
                        {% if not white_user_id %}
                            <a href="{% url 'join-game' pk=context.game_logic.game_data.id side='w' %}">Play as White</a>
                            <br />
                        {% endif %}
                        {% if not black_user_id %}
                            <a href="{% url 'join-game' pk=context.game_logic.game_data.id side='b' %}">Play as Black</a>
                            <br />
                        {% endif %}
                    {% endwith %}
                    {% endwith %}
                {% endif %}
            {% else %}
                {{ context.html_board|safe }}
            {% endif %}
        {% endwith %}
        {% endwith %}
    </div>
</div>
{% endblock %}

{% block extra_script %}
    {% with token_step_side=context.game_logic.game_data.data|access:'token/step/side' %}
    {% if token_step_side != False and not context.user_can_play %}
        <script>
            function reloadPage() {
                window.location.reload();
            }
            $(document).ready(function() {
                setInterval(reloadPage, 10000);
            });
        </script>
    {% endif %}
    {% endwith %}
{% endblock %}
