{% extends 'chess_engine/base.html' %}
{% load static %}
{% load chess_engine_extras %}

{% block title %}Player {{ context.target_user }}{% endblock %}

{% block body %}
    <style>
        .edge_cell {
            background-color: #{{ context.color_set.board_edge_cells_background_color }};
            color: #{{ context.color_set.board_edge_cells_text_color }};
            font-family: '{{ context.color_set.board_font_family }}';
            font-size: {{ context.color_set.board_font_size }}px;
            padding-left: 3px;
            padding-right: 3px;
        }
    </style>
    <script>
    function update_colorset(input_id) {
        input_value = $('#' + input_id).val();
        console.log('input_id:' + input_id + ', ' + $('#' + input_id).val() );
        url = '/profile/{{ context.target_user.id }}/chess/' + input_id + '/' + input_value;
        console.log('url:' + url);

        window.location.href = url;
    }
    </script>
    <div style="display: none;"><form>{% csrf_token %}</form></div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    General information
                    {% if context.target_user == request.user %}
                    <div id="UpdatePasswordModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <a class="btn-sm btn-primary" data-toggle="modal" data-target="#UpdatePasswordModal" data-keyboard="false" href="{% url "update-password" pk=context.target_user.id %}">Change password</a>
                    </div>
                    {% endif %}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <label>Name</label>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="text-muted" title="Name" value="{{ context.target_user.username }}" readonly="readonly">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-6">
                            <label>Email</label>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="text-muted" title="Email" value="{{ context.target_user.email }}" readonly="readonly">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Performance
                    {% if context.performances %}
                    <div class="pull-right">
                        <a href="https://fr.wikipedia.org/wiki/Classement_Elo" target="_blank"><span class="glyphicon glyphicon-info-sign"></span></a>
                        &nbsp;
                        <a class="btn-sm btn-primary" data-toggle="modal" data-target="#ShowRankedHistoryModal" data-keyboard="false" href="{% url "show-history" pk=context.target_user.id type='ranked' %}">Show history</a>
                    </div>
                    {% endif %}
                </div>
                <div class="panel-body">
                    <div id="ShowRankedHistoryModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <label>Level</label>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="text-muted" title="Level" value="{{ context.performances.level }}" readonly="readonly">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <label>Elo</label>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="text-muted" title="Elo" value="{{ context.performances.elo }}" readonly="readonly">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <label>Victories</label>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="text-muted" title="Number of victories" value="{{ context.performances_parsed.victories }}" readonly="readonly">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <label>Defeats</label>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="text-muted" title="Number of defeats" value="{{ context.performances_parsed.defeats }}" readonly="readonly">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <label>Ratio</label>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="text-muted" title="Ratio" value="{{ context.performances_parsed.ratio }}" readonly="readonly">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    History
                    <span class="pull-right">
                        <label>Ranked <input type="radio" class="filter_rank" name="filter_rank" value="ranked"></label>
                        &nbsp;&nbsp;&nbsp;<label>Unranked <input type="radio" class="filter_rank" name="filter_rank" value="unranked"></label>
                        &nbsp;&nbsp;&nbsp;<label>All <input type="radio" class="filter_rank" name="filter_rank" value="all" checked></label>
                    </span>
                </div>
                <div class="panel-content" id="panel_history_content">
                    {% include "chess_engine/profile_history.html" %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Color set
                </div>
                <div class="panel-body">
                    <form class="form">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h4>Board cells</h4>
                                <div>
                                    <div class="form-group form-inline">
                                        <label for="board_cell_light_color">Light :</label>
                                        <input type="text" class="form-control" id="board_cell_light_color" title="Light cells" value="{{ context.color_set.board_cell_light_color }}" maxlength="6">
                                        <img style="background-color: #{{ context.color_set.board_cell_light_color }};" src="/static/chess_engine/pieces/w_pawn.png" width="32" height="32">
                                        <a href="#" onclick="update_colorset('board_cell_light_color');">save</a>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="board_cell_dark_color">Dark :</label>
                                        <input type="text" class="form-control" id="board_cell_dark_color" title="Dark cells" value="{{ context.color_set.board_cell_dark_color }}" maxlength="6">
                                        <img style="background-color: #{{ context.color_set.board_cell_dark_color }};" src="/static/chess_engine/pieces/w_pawn.png" width="32" height="32">
                                        <a href="#" onclick="update_colorset('board_cell_dark_color');">save</a>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="source_piece">Selected :</label>
                                        <input type="text" class="form-control" id="source_piece" title="Selected cell" value="{{ context.color_set.source_piece }}" maxlength="6">
                                        <img style="background-color: #{{ context.color_set.source_piece }};" src="/static/chess_engine/pieces/w_pawn.png" width="32" height="32">
                                        <a href="#" onclick="update_colorset('source_piece');">save</a>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="target_piece">Target :</label>
                                        <input type="text" class="form-control" id="target_piece" title="Target cell" value="{{ context.color_set.target_piece }}" maxlength="6">
                                        <img style="background-color: #{{ context.color_set.target_piece }};" src="/static/chess_engine/pieces/w_pawn.png" width="32" height="32">
                                        <a href="#" onclick="update_colorset('target_piece');">save</a>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="king_checked">Check :</label>
                                        <input type="text" class="form-control" id="king_checked" title="King checked" value="{{ context.color_set.king_checked }}" maxlength="6">
                                        <img style="background-color: #{{ context.color_set.king_checked }};" src="/static/chess_engine/pieces/w_king.png" width="32" height="32">
                                        <a href="#" onclick="update_colorset('king_checked');">save</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <h4>Edge cells</h4>
                                <div>
                                    <div class="form-group form-inline">
                                        <label for="board_edge_cells_background_color">Background :</label>
                                        <input type="text" class="form-control" id="board_edge_cells_background_color" title="Edge cell background color" value="{{ context.color_set.board_edge_cells_background_color }}" maxlength="6">
                                        <a href="#" onclick="update_colorset('board_edge_cells_background_color');">save</a>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="board_edge_cells_text_color">Font color :</label>
                                        <input type="text" class="form-control" id="board_edge_cells_text_color" title="Edge cell font color" value="{{ context.color_set.board_edge_cells_text_color }}" maxlength="6">
                                        <a href="#" onclick="update_colorset('board_edge_cells_text_color');">save</a>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="board_font_family">Font family :</label>
                                        <input type="text" class="form-control" id="board_font_family" title="Edge cell font family" value="{{ context.color_set.board_font_family }}">
                                        <a href="#" onclick="update_colorset('board_font_family');">save</a>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="board_font_size">Font size :</label>
                                        <input type="text" class="form-control" id="board_font_size" title="Edge cell font size" value="{{ context.color_set.board_font_size }}" maxlength="3">
                                        <a href="#" onclick="update_colorset('board_font_size');">save</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <table border="1">
                                    <tr>
                                        <td class="edge_cell" align="center">3</td>
                                        <td><img style="background-color: #{{ context.color_set.board_cell_light_color }};" src="/static/chess_engine/pieces/b_horse.png" width="64" height="64"></td>
                                        <td><img style="background-color: #{{ context.color_set.king_checked }};" src="/static/chess_engine/pieces/b_king.png" width="64" height="64"></td>
                                        <td><img style="background-color: #{{ context.color_set.board_cell_light_color }};" src="/static/chess_engine/pieces/b_rook.png" width="64" height="64"></td>
                                    </tr>
                                    <tr>
                                        <td class="edge_cell" align="center">2</td>
                                        <td><img style="background-color: #{{ context.color_set.board_cell_dark_color }};" src="/static/chess_engine/pieces/empty_cell.png" width="64" height="64"></td>
                                        <td><img style="background-color: #{{ context.color_set.board_cell_light_color }};" src="/static/chess_engine/pieces/empty_cell.png" width="64" height="64"></td>
                                        <td><img style="background-color: #{{ context.color_set.target_piece }};" src="/static/chess_engine/pieces/w_bishop.png" width="64" height="64"></td>
                                    </tr>
                                    <tr>
                                        <td class="edge_cell" align="center">1</td>
                                        <td><img style="background-color: #{{ context.color_set.board_cell_light_color }};" src="/static/chess_engine/pieces/w_king.png" width="64" height="64"></td>
                                        <td><img style="background-color: #{{ context.color_set.source_piece }};" src="/static/chess_engine/pieces/empty_cell.png" width="64" height="64"></td>
                                        <td><img style="background-color: #{{ context.color_set.board_cell_light_color }};" src="/static/chess_engine/pieces/w_rook.png" width="64" height="64"></td>
                                    </tr>
                                    <tr>
                                        <td class="edge_cell"></td>
                                        <td class="edge_cell" align="center">a</td>
                                        <td class="edge_cell" align="center">b</td>
                                        <td class="edge_cell" align="center">c</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer align-right">
                    <a href="/profile/{{ request.user.id }}/chess/reset/color_set" class="btn btn-warning">Restore default colors</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
<script>
        var csrf_element;
        $(".filter_rank").click(function() {
            var filter_rank_value = $(this).val();
            var load_data_url = "{% url 'profile-load-data' pk=request.user.id %}";

            csrf_elements = document.getElementsByName('csrfmiddlewaretoken');
            csrf_element = csrf_elements[0];
            var csrf_value = csrf_element.value;
            var form_data = {
                csrfmiddlewaretoken: csrf_value,
                filter_rank: filter_rank_value,
                target_user_id: {{ context.target_user.id }}
            };
            $.post(load_data_url, form_data, function(data) {
                $('#panel_history_content').html(data);
            });
        });
</script>
{% endblock %}
