{% load widget_tweaks %}
{% load chess_engine_extras %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Ranking history</h4>
</div>
<div class="modal-body">

    <table border="1" class="table">
        <tr>
            <th>Game</th>
            <th>Result</th>
            <th>Delta Elo</th>
            <th>Elo</th>
            <th>Opponent</th>
            <th>Opponent Elo</th>
        </tr>
        {% for game_history in history reversed %}
        <tr>
            <td>{{ game_history.game.data|access:'game_options/name' }}</td>

            {% if game_history.w == 1 %}
            <td bgcolor="lightgreen" align="center"><span class="glyphicon glyphicon-ok"></span></td>
            {% elif game_history.w == 0.5 %}
                <td bgcolor="lightgrey" align="center"><span class="glyphicon glyphicon-pause"></span></td>
            {% elif game_history.w == 0 %}
                <td bgcolor="lightcoral" align="center"><span class="glyphicon glyphicon-remove"></span></td>
            {% else %}
                <td bgcolor="orange"></td>
            {% endif %}
            <td>{{ game_history.elo_delta }}</td>
            <td>{{ game_history.new_elo }}</td>
            <td>{{ game_history.opponent.username }}</td>
            <td>{{ game_history.opponent_elo }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
