{% load widget_tweaks %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Change password</h4>
</div>
<div class="modal-body">
    {% csrf_token %}
    <form class="form-vertical" role="form" id="update-password-form" method="post" action="{% url 'update-password' pk=target_user_id %}">
        <div class="input-group">
            <div class="input-group-addon"><label class="control-label" for=new_password">New password</label></div>
            <input class="form-control" type="password" id="password" name="new_password" title="New password">
        </div>
        <br/>
        <div class="input-group">
            <div class="input-group-addon"><label class="control-label" for=confirm_password">Confirm password</label></div>
            <input class="form-control" type="password" id="confirm_password" name="confirm_password" title="Confirm password">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-primary" value="deploy" >Submit</button>
</div>
