<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Home</title>
</head>
<body>
    <h1>Camina games</h1>
    Welcome on <strong>Camina</strong>'s games home.<br />
    <br />
    You can play here some experimental games developped by our team.<br />
    All is free, without any particular conditions.<br />
    <br />
    Our games are :
    <ul>
        <li>100% handmade</li>
        <li>created by real amateurs, totally volunteers</li>
        <li>made without any money investment</li>
        <li>still in developpment</li>
    </ul>
    So, please be nice and patient.<br />
    <br />
    We take in consideration all your comments and opinions.<br />
    <br />
    <ul>
        <li><a href="{% url 'chess-home' %}">Play Django-Chess</a></li>
        <li><a href="{% url 'memo-home' %}">Play Processing-Memo</a></li>
    </ul>

</body>
</html>
